# Don't try to do inline comments.  Things break.

# Ignore secrets
/.env
/*.env
/*.env-*

# Ignore "ignoreme"
.ignoreme
/.ignoreme
/.ignoreme/**

# Ignore clutter from VSCode
.vscode
/.vscode
/.vscode/**

# Ignore "node_modules"
/node_modules/
/node_modules/**

# Ignore "dist", my static output folder
/dist/
/dist/**